.montsarret {
  font-family: "Montserrat", sans-serif !important;
}

.inter {
  font-family: "Inter", sans-serif !important;
}
.bricolage-text {
  font-family: "Bricolage Grotesque", sans-serif !important;
}
.poppin-text {
  font-family: "Poppins", sans-serif;
}
