@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./quil.less";
@import "./buttonLoader.less";
@import "./spinner.less";

@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./common.less";

:root {
  background-color: #ffffff;
  color: #000000;

  //FONTS
  --var-font-montserrat: "Montserrat", sans-serif;
  --var-font-inter: "Inter", sans-serif;
  --var-font-bricolage: "Bricolage Grotesque", sans-serif;
}

body,
html {
  height: 100%;
  overflow: hidden;
  font-family: var(--var-font-inter);
}

input {
  outline: none;
}

input:disabled {
  background-color: #ffffff;
  color: #000000;
  cursor: not-allowed;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50em;
  cursor: pointer;
  background: url("/crossOutlined.png") no-repeat 50% 50%;
  background-size: contain;
  opacity: 0;
  pointer-events: none;
}
input[type="search"]:hover::-webkit-search-cancel-button {
  opacity: 1;
  pointer-events: all;
}
progress {
  width: 100%;
  height: 25px;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #7e55c81a;
}
progress::-webkit-progress-bar {
  border-radius: 5px;
  background-color: #7e55c81a;
}
progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: #7e55c8;
}
.primary-button {
  width: 440px;
  max-width: 100%;
  background: #6f42c1e5;
  height: 40px;
  border-radius: 12px;
  font-size: 16px;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 0.75rem;
  padding: 0px 1rem;
  font-weight: 500;
  height: 40px;
  &.active {
    background: #6f42c1e5;
    border-radius: 14px;
    color: #fff;
  }
}
.nav.active:hover {
  background: #6f42c1e5;
  border-radius: 14px;
  color: #fff;
}
.nav:hover {
  background-color: #f5f5f5;
  border-radius: 14px;
}

.siteLayout {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.siteHeader {
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  min-height: 66px;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10;
  box-shadow: 0px 4px 25.9px 0px #00000014;
  &.transparent {
    background: #c0ecff;
    box-shadow: none;
  }
}

.hero-container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  .hero-text-container {
    position: absolute;
    top: 50px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    h1 {
      font-size: 40px;
      font-weight: 600;
      text-align: center;
    }
    p {
      font-size: 20px;
      font-weight: 400;
      text-align: center;
    }
  }
  .hero-image {
    min-width: 100%;
    position: absolute;
    bottom: -1.25rem;
    object-fit: contain;
  }
}

@media screen and (min-width: 768px) and (orientation: landscape) {
  .hero-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    .hero-text-container {
      position: absolute;
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      animation: hero-text-animation 1.5s linear 1;
      h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
      }
    }
  }
  .hero-image {
    min-height: 70vh;
    top: 40vh;
    animation: college-animation 1.5s linear 1;
  }
}

@media screen and (min-width: 768px) and (min-height: 750px) {
  .hero-container {
    .hero-text-container {
      top: 100px;
    }
  }
}

@keyframes hero-text-animation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes college-animation {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  10% {
    opacity: 0.7;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.resources-circle {
  background: url("/circle.png") center bottom no-repeat;
  background-size: 100%;
  width: 100%;
  position: relative;
  min-height: 200px;
  max-height: 100%;
}

// @media screen and (min-width:768px) {
//   .resources-circle{
//     background: url('/circle.png') center no-repeat;
//     background-size: 100%;
//     height: 200px;
//     width: 100%;
//   }
// }

.social-icon-container {
  border-radius: 15%;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: all 0.2s linear;
  .social-icon {
    position: relative;
    transition: all 0.2s linear;
    width: 80%;
    height: 80%;
    max-height: 139px;
    path {
      fill: #e5e5e5;
      width: 100%;
    }
  }
}

.social-icon-container:hover {
  &.facebook {
    background: #1877f2;
  }
  &.discord {
    background: #5865f2;
  }
  &.badge {
    background: #ffd700;
  }
  &.instagram {
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
  }
  &.linkedIn {
    background: #0077b5;
  }
  .social-icon {
    transform: scale(1.1);
    path {
      fill: white;
    }
  }
}

@media screen and (min-width: 992px) {
  .social-icon-container {
    border-radius: 12px;
    padding-top: 15px;
    padding-right: 15px;
    max-height: 139px;
    .social-icon {
      position: relative;
      left: -20px;
      bottom: -5px;
      width: 90%;
      max-height: 139px;
      path {
        fill: #e5e5e5;
        width: 100%;
      }
    }
  }

  .social-icon-container:hover {
    .social-icon {
      left: -15px;
      bottom: 0px;
      transform: scale(1.1);
      path {
        fill: white;
      }
    }
  }
}

.testimonial-hover {
  position: relative;
  .hovered-top,
  .hovered-bottom {
    position: absolute;
    opacity: 0;
    transition: all 0.3s linear;
  }
  .hovered-bottom {
    bottom: 0;
    left: 0;
  }
  .hovered-top {
    top: 0;
    right: 0;
  }
}

.testimonial-hover:hover {
  .hovered-top,
  .hovered-bottom {
    opacity: 1;
  }
  .hovered-top {
    top: -4.5rem;
    right: -1.5rem;
  }
  .hovered-bottom {
    bottom: -4.5rem;
    left: -1.5rem;
  }
}

.features-hover {
  position: absolute;
  .features-hover-inner {
    position: relative;
    .hover-text {
      position: absolute;
      overflow: hidden;
      font-size: 14px;
      padding: 5px 12px;
      border-radius: 8px;
      top: 0;
      left: 0;
      opacity: 0;
      background-color: white;
      z-index: 1;
      transition: all 0.3s linear;
      &.center {
        left: 18%;
      }
    }
  }
  span {
    background-color: #fff;
    border-radius: 12px;
  }
  &.essay {
    bottom: 10%;
    left: 0%;
  }
  &.resources {
    top: -5%;
    left: 18%;
  }
  &.ai {
    top: -25%;
  }
  &.finance {
    bottom: 10%;
    right: 0%;
  }
  &.scholarship {
    top: -5%;
    right: 18%;
  }
}

.features-hover:hover {
  span {
    background: #6f42c1e5;
    path {
      fill: white;
    }
  }
  &.ai {
    span {
      background: linear-gradient(
        0deg,
        rgba(255, 95, 228, 1) 30%,
        rgba(173, 109, 244, 1) 100%
      );
    }
  }
  .icon {
    path {
      stroke: white;
      fill: none;
    }
  }
  .features-hover-inner {
    .hover-text {
      left: -20%;
      top: -105%;
      width: auto;
      opacity: 1;
      &.center {
        left: 18%;
      }
    }
  }
}

.quill-editor {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  .ql-container {
    height: 300px;
    border: 0 !important;
    .ql-editor.ql-blank::before {
      font-size: 16px;
      text-decoration: none;
      font-style: normal;
    }
    .ql-editor p,
    .ql-editor ol,
    .ql-editor ul,
    .ql-editor pre,
    .ql-editor blockquote,
    .ql-editor h1,
    .ql-editor h2,
    .ql-editor h3,
    .ql-editor h4,
    .ql-editor h5,
    .ql-editor h6 {
      overflow-wrap: break-word; /* Break words only when necessary */
      word-break: break-word; /* Compatibility fallback */
    }
  }
}

.ai-button {
  background: linear-gradient(
    0deg,
    rgba(255, 95, 228, 1) 30%,
    rgba(173, 109, 244, 1) 100%
  );
  width: 130px;
  height: 40px;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  border: none;
}

.quill-custom-toolbar {
  background-color: #f5f5f5;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  max-width: 100%;
  // width: 600px;
  flex-grow: 1;
  justify-content: center;
  border-radius: 12px;
}

.accordian-inner {
  width: 100%;
  max-height: 0;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  overflow: hidden;
  &.active {
    max-height: 5000px;
  }
}

.product-card-container {
  border-radius: 13px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 8px;
  height: fit-content;

  .store-product-thumbnail-container {
    overflow: hidden;
    width: 100%;
    .store-product-thumbnail {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      background-size: contain;
    }
  }
  .product-thumbnail-container {
    background-color: #ffffff;
    height: 150px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-thumbnail-container-full {
    height: 55%;
    border-radius: 6px;
    padding: 0px;
    .product-thumbnail {
      height: 150px;
      width: 100%;
      border-radius: 6px;
    }
  }
}

.product-card-container:hover {
  overflow: hidden;
  .product-thumbnail-container-full {
    overflow: hidden;
  }
  .product-thumbnail-container {
    overflow: hidden;
  }
  .store-product-thumbnail {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.29, 1.185, 1, 1);
  }
  .product-thumbnail {
    transform: scale(1.1);
    transition: transform 0.3s cubic-bezier(0.29, 1.185, 1, 1);
  }
}
